/frontend/src/config.js

/server1/venv/
/server2/venv/
venv/
myenv/

# Python cache files
__pycache__/
*.pyc

# Frontend dependency folder
/frontend/node_modules/
/server1/config.py
/server2/backend/config.py

# Frontend build output folder
/frontend/dist/

# Local environment files
.env
.env.local
/frontend/.env
/frontend/.env.local

# IDE/Editor specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db